<div class="row">
	<main class="col-md-12">



		<!-- Start your code here -->

		<h2>ABOUT</h2>

		<p style="font-size:30px;">
			Student Name: Aileen Valdecantos<br>
			Student ID: 112040225<br>
			Program: BTT<br>
		</p>

		<!-- End your code here  -->



	</main>
</div>