<div class="row">
	<main class="col-md-12">

		<h1>Welcome to my website</h1>
		<br>
		<p style="font-size:30px;">This site consists of 3 static views (<a href="./">Home</a>, <a
				href="./about">About</a>, <a href="./htmlDemo">HTML Demo</a>) as well as 5 routes that supply
			data ,
			including: <a href="./students">All Students</a>, <a href="./courses">All Courses</a>, <a
				href="./student/1">A
				Single
				Student By Student Number</a>, <a href="./tas">All Managers</a> and
			<a href="./students?course=1">Students by Course</a>
		</p>
	</main>
</div>